body{
	background-color: #FFAD33;
}

.page {
	background-color: #F4F4F4; 
	margin-top: 1%;
	border-radius: 15px; 
}

.navbar-right ul{
	margin-right: 2% !important; 
}

.newbook{
	border-bottom: 1px solid #eee;
	margin-bottom: 3%;
	padding: 1%;
}